25\. Onlinedaki en çok siparişin olduğu ayı ve bu aydaki toplam siparişi(ciro) getiren sorguyu yazınız.

In [2]:
SELECT TOP 10
    YEAR(first_order_date) as YEAR,
    MONTH(first_order_date) AS Month,
    SUM(customer_value_total_ever_online) AS TotalRevenue
FROM
    [dbo].[FLO]
WHERE
    first_order_date IS NOT NULL
GROUP BY
    YEAR(first_order_date), MONTH(first_order_date)
ORDER BY
    TotalRevenue DESC;

YEAR,Month,TotalRevenue
2019,3,48583545
2019,9,48400446
2019,11,46206997
2019,8,42972266
2019,10,41528941
2019,7,39476509
2019,2,38077303
2019,4,36123088
2019,12,35164079
2020,1,25637451