2\. Kaç farklı müşterinin alışveriş yaptığını gösterecek sorguyu yazınız.

In [1]:
select count (distinct master_id)
from FLO

(No column name)
19945