2\. Kaç farklı müşterinin alışveriş yaptığını gösterecek sorguyu yazınız.

In [3]:
select count(*) from customers

(No column name)
91